*{
    color: #092C4C;
    font-family: 'Poppins', sans-serif;
}
body{
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
body .container{
    width: 100%; 
    max-width: 100%; 
    box-sizing: border-box; 
    padding: 0;
}
body .container h1{
    font-weight: 600;
}
body .container p{
    padding-top: 1%;
    font-family: 'Rubik', sans-serif;
}

/* navbar */
nav .nav-link{
    font-size: 1rem;  
    color: gray;    
}

/* title */
.title{
    display: flex;
    flex-direction: row;
}
.poster{
    position: relative;
    overflow: hidden;
    margin: 0% 5% 0%;
    height: 100vh;
}
.poster-image{
    position: absolute;
    background-repeat: no-repeat;
    height: 30%;
    width: 30%;
    background-size: cover;
    top: -90%;
    left: -20%;
    z-index: -1;
}
.title .image-container{
    width: 60%;
    margin-top: 2%;
}
.title .title-content{
    display: flex;
    width: 40%;
    gap: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.title .head{
    text-align: left;
    width: 80%;
}

/* download button */
.download-btn{
    display: flex;
    gap: 2%;
    justify-content: center; 
    align-items: center;
    padding-top: 2%;
}
.download-btn .btn{
    padding-left: 0%;
}
.download-btn .btn img{
    height: 10vh;
}


/* features */
.features .ftr{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5%;
    padding: 0%;
    height: 90vh;
}
.features .ftr-img-l{
    flex-direction: row-reverse;
    background-color: #cadee3;      /* here */
}
.features .ftr .text-content{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.features .ftr .image-content{
    background-color: transparent;
}
.features h1{
    font-size: 4rem;
}
.features p{
    font-size: 1.3rem;
}
.features .subP{
    font-size: 1rem;
    color: gray;
}
.features img{
    height: 80vh;
    object-fit: cover;
}

/* download */
.download{
    margin: 5% 0% 3%;
}
.download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.download h1{
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 800;
    font-family: 'Karla', sans-serif;
}
.download p{
    font-size: 1.1rem;
    color: gray;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 0;
    font-family: 'Karla', sans-serif;
}
.download .dwnld-txt{
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.download .download-btn{
    align-self: center;
}
.download .download-btn .btn img{
    height: 10vh;
}


/* footer */
footer .footer-content{
    display: flex;
    gap: 20%;
    justify-content: center;
    align-items: center;
}
footer .cpy p{
    font-size: 0.8rem;
    font-weight: 300;
    color: gray;
}
footer .cpy a{
    font-weight: 600;
    color: #092C4C;
    font-size: 1.2rem;
}
footer .social-media{
    display: flex;
    gap: 30px;
    margin: 0%;
    align-items: baseline;
}
footer .social-media i{
    font-size: 25px;
    color: #475D6F;
}
footer .social-media i:hover{
    color: #092C4C;
}
footer .social-media a{
    color: #1b3f62;
    font-weight: 500;
}
footer .design a{
    color: gray;
    font-weight: 500;
    font-size: 1rem;
}
footer .design p{
    font-size: 0.9rem;
}








/* RESPONSIVE DESIGN */
@media only screen and (min-width: 320px){
    /* navbar */
    nav .navbar-toggler{
        font-size: 0.8rem;
    }
    nav .nav-link{
        font-size: 0.7rem;       
    }
    .navbar-brand img{
        height: 4vh;
    }

    /* title */
    .title{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title h1{
        font-size: 2.5rem;
    }
    .title p{
        font-size: 0.9rem;
    }
    .poster{
        height: 100vh;
    }
    .poster-image{
        top: -150%;
        left: -170%;
    }
    .title .image-container{
        width: 100%;
        margin-top: 14%;
    }
    .title .title-content{
        width: 85%;
        gap: 10%;
    
    }
    .title .head{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 80%;
    }

    /* download button */
    .download-btn{
        align-self: center;
        justify-content: space-between;
    }
    .download-btn .btn img{
        height: 5.8vh;
    }

    /* features */
    .features .ftr{
        flex-direction: column;
        height: 135vh;
        gap: 0;
    }
    .features .ftr .text-content{
        padding: 2%;
        width: 80%;
        margin:2%;
    }
    .features h1{
        font-size: 2rem;
    }
    .features p{
        font-size: 0.8rem;
    }
    .features .subP{
        font-size: 0.8rem;
    }
    .features img{
        height: 60vh;
    }

    /* download */
    .download .dwnld-txt{
        width: 80%;
    }
    .download h1{
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
    .download p{
        font-size: 0.7rem;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .download .download-btn .btn img{
        height: 6vh;
    }


    footer .footer-content{
        flex-direction: column;
    }
    footer .social-media{
        width: 80%;
        gap: 0%;
        justify-content: space-around;
    }
    footer .social-media i{
        font-size: 1.2rem;
    }
    footer .cpy a{
        font-size: 1rem;
    }
    footer .cpy p{
        font-size: 0.8rem;
        margin-bottom: 1%;
    }
    footer .social-media a{
        font-size: 0.8rem;
    }
    footer .social-media p{
        margin-bottom: 0;
    }
    footer .design a{
        font-size: 0.8rem;
    }
    footer .design p{
        font-size: 0.9rem;
    }
}


@media only screen and (min-width: 576px){
    /* navbar */
    nav .navbar-toggler{
        font-size: 0.9rem;
    }
    nav .nav-link{
        font-size: 0.9rem;       
    }
    .navbar-brand img{
        height: 5vh;
    }

    /* title */
    .title{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .poster{
        height: 130vh;
    }
    .poster-image{
        top: -75%;
        left: -70%;
    }
    .title .image-container{
        width: 100%;
        margin-top: 10%;
    }
    .title .title-content{
        flex-direction: row;
        width: 90%;
        gap: 5%;
    
    }
    .title .head{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 80%;
    }

    /* download button */
    .download-btn{
        flex-direction: column;
        align-self: center;
    }
    .download-btn .btn img{
        height: 8vh;
    }

    /* features */
    .features .ftr{
        height: 120vh;
    }
    .features .ftr .text-content{
        width: 60%;
    }

    /* download */
    .download .download-btn{
        flex-direction: row;
    }

    /* footer */
    footer .social-media{
        width: 40%;
        gap: 0%;
        justify-content: space-around;
    }
    footer .social-media i{
        font-size: 1.2rem;
    }
    footer .cpy a{
        font-size: 1rem;
    }
    footer .cpy p{
        font-size: 0.8rem;
        margin-bottom: 1%;
    }
    footer .social-media a{
        font-size: 0.8rem;
    }
    footer .social-media p{
        margin-bottom: 0;
    }
    footer .design a{
        font-size: 0.8rem;
    }
    footer .design p{
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 768px){
    /* navbar */
    .navbar-brand img{
        height: 5vh;
    }
    .title{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title h1{
        font-size: 3rem;
    }
    .title p{
        font-size: 1rem;
    }
    .title .image-container{
        width: 85%;
        margin-top: 8%;
    }
    .title .title-content{
        width: 85%;
        gap: 10%;
        align-items: center;
    
    }
    .poster{
        height: 130vh;
    }
    .poster-image{
        top: -60%;
        left: -140%;
    }

    /* features */
    .features .ftr{
        height: 140vh;
    }
    .features .ftr .text-content{
        width: 50%;
    }
    .features h1{
        font-size: 2.5rem;
        line-height: 2.7rem;
    }
    .features p{
        font-size: 1rem;
    }
    .features .subP{
        font-size: 0.8rem;
    }


    /* download */
    .download .dwnld-txt{
        width: 90%;
    }
    .download h1{
        font-size: 2.5rem;
        line-height: 2.8rem;
    }
    .download p{
        font-size: 0.9rem;
        font-weight: 600;
        letter-spacing: 4px;
    }
    .download .download-btn{
        flex-direction: row;
    }
    .download .download-btn .btn img{
        height: 8vh;
    }

    /* footer */
    footer{
        margin: 0% 0% 1%;
    }
    footer .footer-content{
        flex-direction: row;
        gap: 0%;
    }
    footer .social-media{
        width: 40%;
        gap: 5%;
        justify-content: center;
        align-items: center;
    }
    footer .social-media i{
        font-size: 1.3rem;
    }
    footer .social-media p{
        margin-bottom: 2%;
    }
    footer .cpy a{
        font-size: 1.2rem;
    }
    .footer-content p{
        font-size: 1rem;
    }
    footer .design a{
        font-size: 0.9rem;
    }
    footer .design p{
        font-size: 0.8rem;
        margin-bottom: 0%;
    }
}

@media only screen and (min-width: 992px){
    /* navbar */
    nav .nav-link{
        font-size: 1rem;       
    }
    .navbar-brand img{
        height: 5vh;
    }
    .title{
        flex-direction: row;
    }
    .title .image-container{
        width: 60%;
        margin-top: 5%;
    }
    .title .title-content{
        flex-direction: column;
        width: 40%;
    }
    .title .head{
        align-self: flex-start;
    }
    .poster{
        height: 70vh;
    }
    .poster-image{
        top: -140%;
        left: -40%;
    }

    /* download button */
    .download-btn{
        flex-direction: row;
        align-self: flex-start;
    }
    .download-btn .btn img{
        height: 5.5vh;
    }

    /* features */
    .features {
        justify-content: center;
        align-items: center;
    }
    .features .ftr{
        height: 90vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
        gap: 3%;
    }
    .features .ftr-img-l{
        flex-direction: row-reverse;
    }
    .features .ftr .text-content{
        width: 40%;
        /* margin-bottom: 5%; */
    }
    .features h1{
        font-size: 3.3rem;
        line-height: 3rem;
    }
    .features p{
        font-size: 1.1rem;
    }
    .features .subP{
        font-size: 1.1rem;
    }

    /* footer */
    footer{
        margin: 0% 0% 1%;
    }
    footer .footer-content{
        gap: 0%;
    }
    footer .social-media i{
        font-size: 1.5rem;
    }
    footer .social-media a{
        font-size: 1rem;
    }
    footer .cpy a{
        font-size: 1.3rem;
    }
    footer .cpy p{
        font-size: 1rem;
    }
    .footer-content p{
        font-size: 1.3rem;
    }
    footer .design a{
        font-size: 1.2rem;
    }
    footer .design p{
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 1200px){
    .title h1{
        font-size: 4rem;
    }
    .title p{
        font-size: 1.2rem;
    }
    .poster{
        height: 80vh;
    }
    .poster-image{
        top: -120%;
        left: -40%;
    }

    /* download button */
    .download-btn .btn img{
        height: 7vh;
    }

    /* features */
    .features h1{
        font-size: 3rem;
    }
    #features p{
        font-size: 1.3rem;
    }

    /* download */
    .download{
        margin: 2% 0% 3%;
    }
    .download .dwnld-txt{
        width: 60%;
    }
    .download h1{
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    .download p{
        font-size: 1.1rem;
        font-weight: 600;
    }
    .download .download-btn .btn img{
        height: 9vh;
    }

    /* footer */
    footer .footer-content{
        gap: 7%;
    }
}

@media only screen and (min-width: 1400px) {
    /* navbar */
    nav .nav-link{
        font-size: 1.2rem;       
    }
    .title h1{
        font-size: 5rem;
    }
    .title p{
        font-size: 1.2rem;
    }
    .poster{
        height: 100vh;
    }
    .poster-image{
        top: -90%;
        left: -10%;
    }
    /* download button */
    .download-btn .btn img{
        height: 7.5vh;
    }

    /* features */
    .features .ftr .text-content{
        width: 30%;
    }
    .features h1{
        font-size: 3.4rem;
        line-height: 3.5rem;
    }
    .features p{
        font-size: 1.2rem;
    }
    .features .subP{
        font-size: 1.2rem;
    }
    .features img{
        height: 80vh;
        object-fit: cover;
    }

    /* download*/
    .download h1{
        font-size: 3.2rem;
        line-height: 4rem;
    }

    /* footer */
    footer .social-media a{
        font-size: 1.2rem;
    }
    footer .cpy a{
        font-size: 1.5rem;
    }
    footer .cpy p{
        font-size: 0.9rem;
    }
    footer .social-media .privacy{
        font-size: 1rem;
    }
    footer .social-media{
        gap: 3%;
    }
    footer .design a{
        font-size: 1rem;
    }
    footer .design p{
        font-size: 0.9rem;
    }
}



